.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .menu-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .navbar-right {
    display: flex;
    gap: 10px;
  }
  
  .login-button {
    background-color: rgba(63, 92, 51, 0.8);
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-button {
    background-color: rgb(244, 238, 169);
    color: black;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
  }